#Options +FollowSymLinks
#RewriteEngine on
#RewriteRule ^([a-zA-Z]*)/?([a-zA-Z]*)?/?$ index.php?c=$1&a=$2 [NC,L]

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
